<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Bella Pizza</title>
   <link rel="icon" type="image/png" href="/static/img/favicon.png">
   <link rel="stylesheet" href="/static/css/principal.css" type="text/css" />
</head>

<body>
   <header>
      <div class="container">
            <div class="logo">
               <a href="">Bella <span>•</span> Pizza</a>
            </div>

            <nav>
               <ul class="leftside">
                  <li><a href="">Pizzas</a></li>
                  <li><a href="">Contato</a></li>
               </ul>

               <div class="rightside">
                  <a href="/entrar" class="button">Login / Cadastro</a>
                  <label class="theme-switch">
                     <input type="checkbox" id="theme-toggle-input">
                     <span class="slider"></span>
                  </label>
               </div>
            </nav>

            <div class="menu">
               <div class="menu-inline"></div>
               <div class="menu-inline"></div>
               <div class="menu-inline"></div>
            </div>
      </div>
   </header>
   <section class="hero">
      <div class="container">
            <div class="leftside">
               <h1>A pizza mais saborosa da web 🍕</h1>
               <p>A primeira pizzaria onde você monta o pedido online e recebe em casa quentinha.</p>
               <a href="" class="button">Ver Cardápio</a>
            </div>
            <div class="rightside">
               <img src="/static/img/pizza.png" alt="Pizza deliciosa"/>
            </div>
      </div>
   </section>
   <script src="/static/js/modo-escuro.js"></script>
   </body>
</html>